.login-component {
  width: 100px;
  height: 45px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 100px;
  font-size: 19px;
  color: #1a76e3;
  cursor: pointer;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: all .2s ease;
}

.login-component:hover {
    color: white;
    background-color: #1a76e3;
    border: 2px solid white;
}

.login-component:active {
    box-shadow: rgba(99, 99, 99, 0.2) inset 0px 2px 8px 0px;
}